/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ramabhadra&display=swap');

/*Mobile First*/


    /*Section Top Container*/

    #top {
        background-image: url('https://s1.significados.com/foto/tecnologia-dura-fa.jpg');
        background-size: cover;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100vh;
    }

    #top .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #top .welcome {
        font-family: 'Itim', cursive;
        color: white;
        animation: fadeInDown;
        animation-duration: 2s;
        font-size: 35px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #top .logo {
        margin-top: 25px;
        margin-bottom: 55px;
        height: 90px;
        animation: fadeInDown;
        animation-duration: 2s;
    }

    #top .nav {
        display: flex;
        justify-content: center;
    }

    #top .options {
        color: #1D9AF2;
        background-color: #292D3E;
        border: 1px solid #1D9AF2;
        border-radius: 4px;
        padding: 0 15px;
        cursor: pointer;
        height: 35px;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        animation: fadeInUp;
        animation-duration: 2s;
        margin-left: 5px;
    }

    #top .options:hover {
        transform: scale(1.1);
    }

    /*Section About Us*/

    #about {
        position: relative;
    }

    #about .container-fluid {
        padding: 15% 5% 15%;
    }

    .middleContainer {
        background-color: #DDF3F5;
    }

    .feature-title {
        font-size: 1.8rem;
        font-family: 'Hubballi', cursive;
        font-weight: bold;
        text-align: center;
    }

    .feature-box {
        padding: 5.5%;
    }

    #about p {
        text-align: center;
    }

    /*Section Staff*/

    #staff {
        position: relative;
    }

    #staff .container-fluid {
        padding: 10% 20% 10%;
    }

    .staff {
        /*background-color: #13DCB5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2311A3D0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230CF218'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");*/
        background-color: aliceblue;
        background-size: cover;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    #staff .flip-card {     
        width: 250px;
        height: 250px;
        perspective: 1000px;
        margin-bottom: 40px;
    }

    #staff .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #staff .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    #staff .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    /*.flip-card-front {
        background-color: #bbb;
    }*/

    #staff .flip-card-back {
        background-color: white;
        color: black;
        transform: rotateY(180deg);
    }

    #staff .description {
        font-family: 'Shadows Into Light Two', cursive;
        text-align: center;
        display: block;
    }

    /*tamaño de la imagen*/
    #staff .gal {
        width: 250px;
        height: 250px;
    }

    #staff h1 {
        margin-top: 30px;
        font-family: 'Nunito', sans-serif;
    }

    /*Section Social Media*/

    #socials {
        position: relative;
    }

    #socials .container-fluid {
        padding: 5% 5%;
    }

    .bottomContainer {
        background-image: url('https://s1.significados.com/foto/tecnologia-dura-fa.jpg');
        background-size: cover;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    #socials .bottom {
        padding: 15px 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #socials .social {
        color: white;
        padding: 5px;
        position: relative;
    }

    #socials .social:hover {
        color: aqua;
    }

    #socials .bi {
        width: 25px;
        height: 25px;
    }

    #socials .last {
        font-family: 'Hubballi', cursive;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: white;
        position: relative;
    }


@media (min-width:1024px) {

    /*Section Top Container*/
    #top {
        background-image: url('https://s1.significados.com/foto/tecnologia-dura-fa.jpg');
        background-size: cover;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100vh;
    }

    #top .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #top .welcome {
        font-family: 'Itim', cursive;
        color: white;
        animation: fadeInDown;
        animation-duration: 2s;
        font-size: 55px;
        text-align: center;
    }

    #top .logo {
        margin-top: 25px;
        margin-bottom: 10px;
        width: 50vw;
        height: auto;
        animation: fadeInDown;
        animation-duration: 2s;
    }

    /*Botón de Projects*/

    #top .nav {
        display: flex;
        justify-content: center;
        margin: 5% 15% 5%;
    }

    #top .options {
        color: #1D9AF2;
        background-color: #292D3E;
        border: 1px solid #1D9AF2;
        border-radius: 4px;
        padding: 0 15px;
        cursor: pointer;
        font-size: 2vw;
        transition: all 0.2s ease-in-out;
        margin-left: 15px;
        height: 5vw;
    }

    #top .options:hover {
        transform: scale(1.1);
    }

    #top .proj {
        width: 9vw;
    }

    /*Section About Us*/

    #about {
        position: relative;
    }

    #about .container-fluid {
        padding: 5% 10%;
    }

    .middleContainer {
        background-color: #DDF3F5;
    }

    #about .feature-title {
        font-size: 5.8rem;
        font-family: 'Hubballi', cursive;
        font-weight: bold;
        text-align: center;
    }

    #about .feature-box {
        padding: 2.1%;
    }

    #about p {
        text-align: justify;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 20px;
    }

    /*Section Staff*/

    #staff {
        position: relative;
        height: 100vh;
    }

    #staff .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 10%;
    
    }

    .staff {
        background-color: #13DCB5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2311A3D0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230CF218'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    #staff .flip-card {
        background-color: transparent;
        width: 240px;
        height: 240px;
        perspective: 1000px;
    }

    #staff .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #staff .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    #staff .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #staff .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    #staff .flip-card-back {
        background-color: white;
        color: black;
        transform: rotateY(180deg);
    }

    #staff .description {
        font-family: 'Shadows Into Light Two', cursive;
        text-align: center;
        display: block;
        font-size: 15px;
    }

    /*tamaño de la imagen*/
    #staff .gal {
        width: 240px;
        height: 240px;
    }

    #staff h1 {
        margin-top: 30px;
        font-family: 'Nunito', sans-serif;
        font-size: 25px;
    }

    /*Section Social Media*/

    #socials {
        position: relative;
    }

    #socials .container-fluid {
        padding: 2% 0% 2%;
    }

    .bottomContainer {
        background-image: url('https://s1.significados.com/foto/tecnologia-dura-fa.jpg');
        background-size: cover;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    #socials .bottom {
        padding: 15px 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #socials .social {
        color: white;
        padding: 5px;
        position: relative;
    }

    #socials .social:hover {
        color: aqua;
    }

    #socials .bi {
        width: 45px;
        height: 45px;
    }

    #socials .last {
        font-family: 'Hubballi', cursive;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: white;
        position: relative;
    }

}